<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>

<!-- Section: Design Block -->
<section class=" text-center text-lg-start">
    <div class="row g-0 d-flex align-items-center" style="margin: 10px 150px 10px 150px;">
        <!-- <div class="col-lg-4 d-none d-lg-flex">
                <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" alt="Trendy Pants and Shoes"
                    class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
            </div> -->
        <div class="col-lg-8">
            <div class="card-body py-5 px-md-5">
                <h4 class="title">Log In Form</h4>
                <form [formGroup]="loginForm">
                    <!-- Email input -->
                    <div>
                        <label for="formGroupExampleInput" class="form-label"></label>
                        <input type="email" id="formGroupExampleInput" class="form-control" placeholder="Email address"
                            formControlName="EmailId" />
                    </div>
                    <!-- Password input -->
                    <div>
                        <label for="formGroupExampleInput2" class="form-label"></label>
                        <input type="password" id="formGroupExampleInput2" class="form-control" placeholder="Password"
                            formControlName="password" />
                    </div>

                    <!-- 2 column grid layout for inline styling -->
                    <div class="row mb-4">
                        <div class="col d-flex justify-content-center">
                            <!-- Checkbox -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked
                                    style="margin-top: 16px;" />
                                <label class="form-check-label" for="form2Example31"> Remember me </label>
                            </div>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <button type="button" name="button" class="btn btn-primary btn-block mb-4" [disabled]="!loginForm.valid"
                        [routerLink]="['/Home']" *ngIf="!loginStatus" value="submit" (click)="login()">Login</button>

                    <button type="button" class="btn btn-danger btn-block mb-4" *ngIf="loginStatus" (click)="logout()">
                        Logout
                    </button>
                </form>

            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->